* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: white;
    text-shadow: 0 0 10px gold;
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: red;
    text-shadow: 0 0 10px red;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem, + 5vw, 3rem);
}

.nav-container .links a {
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.nav-container .links a:hover {
    color: red;
    border-bottom: 2px solid red;
}

.dropdown {
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.3s linear;
}

.dropdown .links a {
    display: flex;
    color:white;
    text-decoration: none;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}

.dropdown .links a {
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
}

.dropdown .links a:hover {
    background-color: red;
}

section {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
    box-shadow: 0 0 120px 50px black;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    font-weight: 700;
    text-shadow: 0 0 10px gold;
}

.content .typewritter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 700;
    margin: 10px 0;
}

.typewritter span {
    color: red;
    text-shadow: 0 0 10px red;
}

.content p {
    font-size: clamp(0.8rem, 0.5rem + 3vw, 1.1rem);
    margin: 20px 0;
}

.social-links i {
    color: red;
    margin: 0 15px;
    font-size: 1.8rem;
    transition: 0.3s linear;
    cursor: pointer;
}

.social-links i:hover {
    filter: drop-shadow(0 0 10px red);
    scale: 1.2;
}

.content button {
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: red;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: 0.2s linear;
    font-size: 1.1rem;
    font-weight: 600;
}

.content button:hover {
    scale: 1.2;
}

.main-container .image {
    width: 400px;
    height: 80vh;
    border-radius: 90%;
    overflow: hidden;
    box-shadow: 0 0 50px red;
}

.main-container .image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 884px){
    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,.cancel {
        display: block;
    }

    .main-container .content {
        width: 70%;
    }

    .main-container .image {
        width: 40%;
        height: 40%;
    }
    
    .content button {
        margin: 15px 25%;
    }
}

@media (max-width: 440px){
    .main-container .image {
        width: 70%;
        height: 50%;
    }
    .main-container .content {
        width: 60%;
    }
    
    .main-container .image {
        width: 50%;
        height: 40%;
    }
}



